@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: url(./Landingpage.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif !important;
}

* {
  font-family: "Poppins", sans-serif !important;
}

ul li a {
  /* color: white !important; */
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif !important;
}
.main-text {
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 20px 0;
  font-weight: 700;
}
.card {
  border-radius: 0 !important;
  padding: 20px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.card-body {
  padding: 0 !important;
}
p {
  margin-bottom: 0 !important;
}
.banner-section {
  height: 100%;
}
.footer-section {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-toggler-white .navbar-toggler-icon {
  color: white !important;
}

.overlay {
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  padding: 20px;
  border-radius: 5px;
  transition: 0.3s ease;
  background-color: white; */
  position: absolute;
  top: -11px;
  bottom: 0;
  left: -2px;
  right: 0px;
  height: 460px;
  width: 260px;
  opacity: 0;
  padding: 20px;
  /* border-radius: 5px; */
  transition: 0.3s ease;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  color: #5a5a5a !important;
}
.overlayList li {
  list-style-type: disclosure-closed !important;
  color: #5a5a5a !important;
  line-height: 1.7 !important;
}
.card-body:hover .overlay {
  opacity: 1;
}
.card-text {
  color: #5a5a5a !important;
}

.insideBtn {
  position: absolute;
  bottom: 20px;
  right: 10px;
  /* color: #f4de1b !important; */
  font-weight: bold !important;
}

input,
textarea {
  background: aliceblue !important;
  border-radius: 0px !important;
}
.form-label {
  margin-bottom: 0 !important;
  font-size: 14px !important;
}

.modal-body,
.modal-footer {
  padding: 24px 40px 40px 40px !important;
}
.form-label {
  color: #7d7d7d !important;
}
.modal-header {
  padding: 20px 40px !important;
}
.hoverBtn:hover {
  color: #000 !important; /* Text color for the hover state */
  background-color: #f4de1b !important; /* Background color for the hover state */
  border-color: #f4de1b !important; /* Border color for the hover state */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}
.hoverBtn:hover #my-img {
  content: url("./arrow-right.svg");
}

.btn-warning {
  color: #000 !important;
  background: #f4de1b !important;
  border-color: #f4de1b !important;
  padding: auto 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-warning {
  color: #f4de1b !important;
  border-color: #f4de1b !important;
}
.btn {
  padding: 8px 20px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.btn-outline-warning:hover {
  background: #f4de1b !important;
  color: #fff !important;
}
.applyBtn:hover {
  background: #f4de1b !important;
  border-color: #f4de1b !important;
  color: #fff !important;
}
